.wea{
    background-image: url(https://images.unsplash.com/photo-1661498198533-4d1bc830546f?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    
}
.container{
    background-image: url(https://media.istockphoto.com/id/993738504/photo/hot-summer-or-heat-wave-background-orange-sky-with-glowing-sun.webp?b=1&s=170667a&w=0&k=20&c=qlnMJL7zu_8Ir0TUdJIuDBhht0WJGu6sYZTe-oft-zE=);
    background-repeat: no-repeat;
    background-size: cover;
}